body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family:"Cinzel";
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
font-family:"Cinzel";
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h3 {
font-family: Cinzel;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; }
.clear { clear: both; }


.title-content { margin: 0 auto; margin-top: 100px; font-family: "Raleway"; font-size:30px; background-color: rgb(133,15,136,0.5); width: 100%;}
.slide-title {font-family: "Cinzel"; font-size:40px; position:relative; bottom: 50px; background-color: rgb(133,15,136,0.5); width: 100%; color:#fff;}
.slide-content {padding:20px;margin-left: 50px; font-family: "Raleway"; font-size:30px; width: 90%;}
.slide-content li {padding-top : 10px;}
.little-cost {font-style: italic; font-size: 15px;}

a{color: #fff;}


#header {
width: 100%;
background-color: rgb(255,255,255,0.95);
height: 90px;
position: fixed;
margin-top: 30px;
}
/*#4B0082*/
#nav { width: 410px; float: right; margin-top: 20px; margin-bottom: 20px }
#logo a { color: #4B0082; text-decoration: none; float: left; font-size: 45px; margin-top: 20px; margin-left: 10px; font-family:"Cinzel"; font-weight: bold; }
#logo img {float: left;zoom: 50%;}
#small-logo a { color: #4B0082; text-decoration: none; float: left; font-size: 20px; margin-top: 45px; margin-left:10px; font-family:"Raleway"; font-weight: bold; }

#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 10px;
}
#nav li a { color: #4B0082; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Cinzel'; }
#nav li a.active { color: #4B0082; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1; }



 

#slide1, #slide2{ width: 100%; }
#slide1{
background: linear-gradient(rgb(75,0,130,0.3),rgb(75,0,130,0.3)), url('../img/slide1.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background-color: #fff;
color: #333333;
height: 400px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#slide3{
background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
color: #333333;
height: 600px;
padding: 200px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 400px;
padding: 200px 0;
}
#slide5{
background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
height: 600px;
margin: 0 auto;
padding: 200px 0;
color: #fff;
background-size: cover;
}